
/* Xs and Os are not vertically centered in cell divs */
/* add glowing animation to hover over divs */
/* add pointer to cells */
/* pop up box for player name inputs */


body {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.title {
    font-family: Chewy;
    font-size: 20px;
    line-height: 25px;
    text-shadow: 1px 2px rgba(0,0,0,0.19);
}

button {
    background-color: white;
    border: 3px solid rgba(100,149,237,0.4);
    color: black;
    font-family: Chewy;
    font-size: 30px;
    width: 180px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 18px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;

}

.popup {
    display: none;
    position: absolute;
    top: 40%;
    z-index: 100;
    width: 300px;
    height: 150px;
    font-family: Chewy;
    font-size: 30px;
    line-height: 75px;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
    border: 3px solid black;
    text-align: center;
    color: black;
}
.board {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;    
}

.cell {
    background-color: cornflowerblue;
    border-radius: 10px;
    text-align: center;
    font-family: 'Chewy';
    font-size: 120px;
    color: black;
    opacity: 0.9;
    cursor: pointer;
}

