
/* Xs and Os are not vertically centered in cell divs */
/* add glowing animation to hover over divs */
/* add pointer to cells */
/* add popup box to declare winner */


body {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.title {
    font-family: Chewy;
    font-size: 20px;
}

.popup {
    display: none;
    position: absolute;
    top: 40%;
    /* left: 50%; */
    z-index: 100;
    width: 300px;
    height: 150px;
    font-family: Chewy;
    font-size: 30px;
    line-height: 75px;
    background-color: white;
    opacity: 0.8;
    border-radius: 10px;
    border: 3px solid black;
    text-align: center;
    color: black;
}
.board {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;    
}

.cell {
    background-color: cornflowerblue;
    border-radius: 10px;
    text-align: center;
    font-family: 'Chewy';
    font-size: 120px;
    color: black;
    opacity: 0.9;
}